.card__like_active {
  background-image: url(../../../../images/Like-aktive.svg);
  width: 22px;
  height: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  align-self: center;
  margin-top: 4px;
  transition: opacity 0.1s;
}

.card__like_active:hover {
  opacity: 0.5;
}