.profile__name-title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  margin: 0;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 680px) {
  .profile__name-title {
    margin-top: 25px;
    font-size: 27px;
    line-height: 33px;
  }
}
