.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 358px;
  line-height: 17px;
  font-size: 14px;
  color: #000;
  padding: 0;
  padding-bottom: 9px;
}

.popup__input:focus {
  outline: none;
}

@media (max-width: 540px) {
  .popup__input {
    width: 238px;
  }
}
